# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin


# Ignore MacOS garbage
.DS_Store


# Ignore folders for testing
bullshit/
minecraft-maybe-required-data/
newGame/


# Ignore logs
logs